* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.body {
  box-sizing: border-box;
  min-width: 375px
}
* {
  font-family: Ubuntu,sans-serif
}
.container {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto
}
.wrapper {
  box-sizing: border-box;
  max-width: 1230px;
  margin: 0 auto
}
.wrapper__construction {
  padding: 0 0
}
.wrapper__pagination {
  padding: 0 0
}
.header {
  padding: 20px 0 20px
}
.header__nav {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  height: 52px
}
.header__list {
  display: flex;
  gap: 40px;
  margin-left: 60px
}
.header__link {
  font-size: 16px;
  font-weight: 700;
  color: #424551;
  line-height: 26px
}
.header__link:hover {
  color: #ff5a30
}
.header__contacts {
  padding-top: 6px;
  display: flex;
  gap: 36px;
  margin-left: auto;
  height: 100%
}
.header__text {
  color: #424551;
  font-size: 14px;
  font-weight: 700
}
.header__contact-item {
  padding-left: 52px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4px
}
.header__contact-item--phone {
  background-image: url(../img/header/header__phone.svg);
  background-repeat: no-repeat;
  background-position: 7px 0
}
.header__contact-item--chat {
  background-image: url(../img/header/header__chat.svg);
  background-repeat: no-repeat
}
.header__contact {
  color: #1e212c;
  font-size: 18px
}
.header__open {
  display: none;
  background-color: inherit;
  width: 35px;
  height: 22px;
  position: relative;
  margin-left: auto
}
.header__open-icon {
  border-radius: 26px;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ff5a30
}
.header__open-icon--top {
  top: 0;
  left: 0
}
.header__open-icon--middle {
  top: 9px;
  left: 0
}
.header__open-icon--bottom {
  bottom: 0;
  left: 0
}
.construction {
  padding: 220px 0 120px 0;
  background-image: url(../img/construction/construction__background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}
.construction__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
.construction__info {
  max-width: 595px
}
.construction__title {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 1px
}
.construction__title--orange {
  color: #ff5a30
}
.construction__text {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-top: 24px;
  max-width: 595px;
  text-align: left
}
.construction__links {
  margin-top: 61px;
  display: flex;
  gap: 24px
}
.construction__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px
}
.construction__link--learn {
  width: 278px;
  height: 52px;
  border: 1px solid #fff
}
.construction__link--learn:hover {
  border: 1px solid #fc3300;
  background-color: #fc3300
}
.construction__link--submit {
  background-color: #ff5a30;
  width: 224px;
  height: 52px
}
.construction__link--submit:hover {
  background-color: #fc3300
}
.swiper-construction__slide {
  display: flex;
  justify-content: flex-start
}
.swiper-construction__button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-position-x: 15px;
  background-position-y: 18px;
  background-color: #fff;
  position: absolute
}
.swiper-construction__button:after {
  display: none
}
.swiper-construction__prev {
  background-image: url(../img/icons/arrow--left.svg);
  background-repeat: no-repeat;
  margin-top: 0;
  top: 250px;
  left: 32px
}
.swiper-construction__next {
  background-image: url(../img/icons/arrow--right.svg);
  background-repeat: no-repeat;
  margin-top: 0;
  top: 250px;
  right: 32px
}
.swiper-construction__buttons {
  z-index: 10
}
.swiper-construction__pagination {
  position: static;
  display: flex;
  gap: 5px;
  height: 54px;
  max-width: 1230px;
  margin: 0 auto;
  margin-top: 179px;
  padding-top: 5px
}
.swiper-construction .swiper-pagination-bullet {
  font-size: 28px;
  text-align: left;
  color: #fff;
  opacity: .6;
  margin: 0!important;
  width: 178px;
  border-bottom: 2px solid #fff;
  height: 100%;
  background-color: inherit;
  border-radius: 0
}
.swiper-construction .swiper-pagination-bullet-active {
  font-weight: 700;
  opacity: 1
}
.bureau {
  height: 975px
}
.values__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}
.values__title {
  font-size: 46px;
  color: #1e212c;
  font-weight: 700;
  text-align: center
}
.values__description {
  font-size: 18px;
  margin-top: 30px;
  text-align: center
}
.values__list {
  margin-top: 63px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%
}
.values__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative
}
.values__item:not(:last-child)::after {
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to bottom,#fff,#000 50%,#fff);
  background: linear-gradient(to bottom,rgba(218,219,221,0) 0,rgba(218,219,221,.5) 12.33%,#dadbdd 51.91%,rgba(218,219,221,.5) 87.85%,rgba(218,219,221,0) 100%)
}
.values__icon {
  width: 48px;
  height: 48px
}
.values__icon--quality {
  background-image: url(../img/values/values__like.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0
}
.values__icon--safety {
  background-image: url(../img/values/values__hand.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0
}
.values__icon--comfort {
  background-image: url(../img/values/values__slippers.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0
}
.values__name {
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  font-weight: 700
}
.values__text {
  text-align: center;
  font-size: 16px;
  line-height: 25.6px;
  margin-top: 8px;
  max-width: 285px;
  position: relative;
  padding-bottom: 50px
}
.values__item:not(:last-child) .values__text:after {
  content: "";
  position: absolute;
  background: linear-gradient(to right,rgba(218,219,221,0) 0,rgba(218,219,221,.5) 12.33%,#dadbdd 51.91%,rgba(218,219,221,.5) 87.85%,rgba(218,219,221,0) 100%)
}
.more {
  height: 243px
}
.more .wrapper.more__wrapper {
  background-color: #fff;
  padding: 48px 60px;
  height: 100%;
  -webkit-transform: translateY(78px);
  transform: translateY(78px);
  box-shadow: 0 33px 105px -72px #13212c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px
}
.more__title {
  font-size: 28px;
  color: #1e212c;
  font-weight: 700
}
.more-form {
  display: flex;
  width: 100%;
  align-items: flex-end;
  gap: 24px
}
.more-form__item {
  display: flex;
  flex-direction: column;
  gap: 8px
}
.more-form__item--short {
  flex: 1;
  max-width: 260px
}
.more-form__item--long {
  flex: 2;
  max-width: 414px
}
.more-form__label {
  font-size: 14px;
  color: #424551;
  text-align: left
}
.more-form__input {
  height: 44px;
  background-color: #f4f5f6;
  border: 1px solid #d7dadd;
  padding: 11px 0 12px 16px
}
.more-form__submit {
  width: 104px;
  height: 44px;
  background-color: #ff5a30;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px
}
.services {
  background-image: url(../img/services/services__background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 202px 0
}
.services__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}
.services__title {
  font-size: 46px;
  color: #1e212c;
  font-weight: 700
}
.services__description {
  font-size: 18px;
  color: #787a80;
  margin-top: 30px;
  text-align: center;
  line-height: 22px
}
.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 30px;
  margin-top: 60px;
  border-radius: 4px
}
.services__item {
  background-color: #fff;
  height: 285px;
  padding: 85px 0 85px 0;
  position: relative;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center
}
.services__item:hover {
  background-image: url(../img/services/services__item--background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 40px 135px -2px rgba(30,33,44,.2)
}
.services__item:hover .services__name {
  color: #fff
}
.services__item:hover .services__icon--construction {
  background-image: url(../img/services/services__wall--white.svg)
}
.services__item:hover .services__icon--development {
  background-image: url(../img/services/services__plans--white.svg)
}
.services__item:hover .services__icon--design {
  background-image: url(../img/services/services__folded--white.svg)
}
.services__item:hover .services__icon--repairs {
  background-image: url(../img/services/services__brush--white.svg)
}
.services__item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #1e212c;
  opacity: .5
}
.services__name {
  z-index: 10;
  color: #1e212c;
  font-weight: 700;
  font-size: 20px;
  margin-top: 27px
}
.services__icon {
  width: 52px;
  height: 56px;
  z-index: 10;
  background-repeat: no-repeat
}
.services__icon--construction {
  background-image: url(../img/services/services__wall.svg);
  background-position: -1px 5px
}
.services__icon--development {
  background-image: url(../img/services/services__plans.svg);
  background-position: -1px 4px
}
.services__icon--design {
  background-image: url(../img/services/services__folded.svg);
  background-position: -1px 7px
}
.services__icon--repairs {
  background-image: url(../img/services/services__brush.svg);
  background-image: url(../img/services/services__brush.svg);
  background-position: 2px 4px;
  height: 56px
}
.services__learn {
  display: flex;
  align-items: center;
  margin-top: 81px;
  gap: 40px
}
.services__label {
  font-size: 28px;
  font-weight: 700;
  color: #1e212c
}
.services__link {
  width: 207px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5a30;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  border-radius: 4px
}
.services__link:hover {
  background-color: #fc3300
}
.browse {
  padding-bottom: 120px
}
.browse__title {
  font-size: 46px;
  font-weight: 700;
  color: #1e212c;
  line-height: 60px
}
.browse__image {
  width: 100%;
  height: 345px;
  -o-object-fit: cover;
  object-fit: cover
}
.browse__item {
  height: 440px;
  background-color: #fff;
  box-shadow: 0 19px 14px 3px rgba(30,33,44,.2)
}
.browse__item:hover .browse__description {
  height: 163px;
  display: flex
}
.browse__item:hover .browse__view {
  display: flex
}
.browse__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 0 24px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10
}
.browse__name {
  font-size: 20px;
  color: #1e212c;
  font-weight: 700
}
.browse__category {
  font-size: 14px;
  color: #787a80;
  margin-top: 10px
}
.browse__view {
  font-size: 14px;
  color: #ff5a30;
  width: 172px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff5a30;
  border-radius: 4px;
  text-transform: uppercase;
  margin-top: 26px;
  letter-spacing: .5px;
  font-weight: 700;
  display: none
}
.browse__explore {
  display: flex;
  gap: 40px
}
.browse-explore {
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center
}
.browse-explore__title {
  font-size: 26px;
  font-weight: 700;
  color: #1e212c;
  letter-spacing: 1px
}
.browse-explore__link {
  width: 224px;
  height: 52px;
  color: #fff;
  background-color: #ff5a30;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px
}
.browse-explore__link:hover {
  background-color: #fc3300
}
.swiper-browse {
  margin-top: 58px
}
.swiper-browse__slide {
  height: 440px
}
.partners {
  background-color: #f4f5f6;
  padding-top: 84px
}
.partners__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}
.partners__title {
  font-size: 46px;
  font-weight: 700;
  color: #1e212c;
  text-align: center
}
.partners__logos {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between
}
.partners__logo {
  width: 120px;
  height: 64px
}
.clients {
  padding: 188px 0 121px;
  background-color: #f4f5f6
}
.clients__container {
  position: relative
}
.clients__title {
  font-size: 46px;
  font-weight: 700;
  color: #1e212c
}
.clients__profile {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-top: 63px
}
.clients__comments {
  width: 600px;
  position: relative
}
.clients__comment {
  display: flex;
  flex-direction: column
}
.clients__text {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  margin-top: 23px
}
.clients__name {
  font-size: 16px;
  color: #1e212c;
  font-weight: 700;
  margin-top: 28px
}
.clients__position {
  font-size: 14px;
  margin-top: 11px
}
.clients__nav {
  position: absolute;
  bottom: -15px;
  right: -11px;
  display: flex;
  z-index: 10
}
.clients__button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 15px 17px;
  background-color: inherit
}
.clients__button--prev {
  background-image: url(../img/icons/arrow--left.svg)
}
.clients__button--next {
  background-image: url(../img/icons/arrow--right.svg)
}
.clients__button:hover {
  background-color: #d7dadd
}
.clients__image {
  width: 495px;
  height: 550px;
  position: absolute;
  top: -57px;
  right: 0
}
.facts {
  padding-top: 186px;
  padding-bottom: 123px
}
.facts__wrapper {
  display: flex;
  flex-direction: column
}
.facts__list {
  display: flex;
  padding-top: 63px;
  width: 736px;
  justify-content: space-between;
  margin: 0 auto
}
.facts__title {
  align-self: center;
  font-size: 46px;
  font-weight: 700;
  color: #1e212c
}
.facts__item {
  width: 148px;
  display: flex;
  flex-direction: column
}
.facts__circle {
  width: 148px;
  height: 148px;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center
}
.facts__circle--orange {
  background-image: url(../img/facts/facts__yellow.webp)
}
.facts__circle--red {
  background-image: url(../img/facts/facts__red.webp)
}
.facts__circle--blue {
  background-image: url(../img/facts/facts__blue.webp)
}
.facts__circle--green {
  background-image: url(../img/facts/facts__green.webp)
}
.facts__number {
  font-size: 32px;
  font-weight: 700;
  color: #1e212c
}
.facts__description {
  font-size: 14px;
  color: #1e212c;
  align-self: center;
  margin-top: 20px
}
.news {
  padding-top: 66px;
  padding-bottom: 252px
}
.news__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center
}
.news__title {
  font-size: 46px;
  color: #1e212c;
  font-weight: 700
}
.news-item {
  box-shadow: 0 12px 14px 6px rgba(154,156,165,.3)
}
.news-item:hover {
  box-shadow: 0 12px 14px 6px rgba(154,156,165,.6)
}
.news-item:hover .news-item__title {
  color: #ff5a30
}
.news-item--main {
  grid-area: main;
  max-height: 540px;
  max-width: 705px
}
.news-item--main .news-item__description {
  padding: 28px 24px 25px 24px
}
.news-item--secondary {
  max-height: 255px
}
.news-item--secondary .news-item__description {
  padding: 20px 24px 24px 24px
}
.news-item--secondary .news-item__text {
  display: none
}
.news-item--1 {
  grid-area: first
}
.news-item--2 {
  grid-area: second
}
.news__list {
  gap: 20px;
  margin-top: 62px;
  display: grid;
  grid-template-areas: "main main first" "main main second";
  row-gap: 30px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px
}
.news-item__link {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center
}
.news-item--main {
  height: 100%
}
.news-item__description {
  width: 100%
}
.news-item__text {
  font-size: 16px;
  line-height: 25.5px;
  margin-top: 18px
}
.news-item__title {
  font-size: 20px;
  color: #1e212c;
  font-weight: 700
}
.news-item__image {
  width: 100%
}
.news-item__image--main {
  max-height: 360px
}
.news-item__image--secondary {
  max-height: 156px
}
.item-info {
  display: flex;
  align-items: center;
  margin-top: 20px
}
.item-info--secondary {
  margin-top: 15px
}
.item-info__comments {
  display: flex;
  align-items: center;
  gap: 10px
}
.item-info__item {
  display: flex;
  align-items: center;
  position: relative
}
.item-info__item:not(:last-child) {
  padding-right: 11px
}
.item-info__item:not(:last-child):after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #d7dadd;
  position: absolute;
  right: 0;
  top: 0
}
.item-info__item:not(:first-child) {
  padding-left: 11px
}
.item-info__label {
  font-size: 14px;
  color: #787a80
}
.details {
  background-image: url(../img/details/details__background.webp);
  height: 826px
}
.details__title {
  font-size: 28px;
  font-weight: 700;
  color: #1e212c;
  line-height: 42px;
  margin-bottom: 24px
}
.details__wrapper {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 100%
}
.details__image {
  width: 100%
}
.details__item {
  width: 100%
}
.details__item--checkbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px
}
.details__form {
  height: 666px;
  width: 495px;
  background-color: #fff;
  position: absolute;
  right: 0;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  align-items: center
}
.details__fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.5px
}
.details__label {
  font-size: 14px;
  color: #424551;
  text-align: left
}
.details__label--checkbox {
  line-height: 21px
}
.details__input {
  width: 100%;
  height: 44px;
  padding: 11px 0 12px 16px;
  color: #9a9ca5;
  margin-top: 12px;
  border: 1px solid #d7dadd;
  background-color: #f4f5f6;
  border-radius: 4px
}
.details__input--textarea {
  resize: none;
  height: 64px
}
.details__input--checkbox {
  width: 17px;
  height: 17px;
  background-color: #ff5a30;
  margin-top: 0
}
.details__submit {
  width: 174px;
  height: 44px;
  background-color: #ff5a30;
  color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  align-self: center
}
.details__submit:hover {
  background-color: #fc3300
}
.footer {
  padding-top: 81px;
  padding-bottom: 80px;
  background-color: #1e212c;
  color: #787a80
}
.footer__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.footer__bottom {
  display: flex;
  margin-top: 52px;
  gap: 126px
}
.footer__rights {
  display: flex;
  justify-content: space-between;
  margin-top: 65px
}
.footer-social {
  width: 493px
}
.footer-social__top {
  display: flex;
  gap: 60px
}
.footer-social__list {
  display: flex;
  gap: 16px
}
.footer-social__text {
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  margin-top: 25px
}
.footer-subscribe {
  width: 495px;
  display: flex;
  flex-direction: column;
  padding-top: 5px
}
.footer-subscribe__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: left
}
.footer-subscribe__form {
  display: flex;
  width: 100%;
  padding-top: 27px
}
.footer-subscribe__input {
  height: 44px;
  border: 1px solid #787a80;
  background-color: #424551;
  color: #fff;
  padding: 11px 0 12px 16px;
  border-radius: 5px 0 0 5px;
  flex-grow: 1
}
.footer-subscribe__submit {
  text-transform: uppercase;
  color: #fff;
  background-color: #ff5a30;
  width: 131px;
  border-radius: 0 5px 5px 0;
  font-size: 14px;
  letter-spacing: 1px
}
.footer-subscribe__submit:hover {
  background-color: #fc3300
}
.footer-subscribe__text {
  font-size: 12px;
  line-height: 18px;
  margin-top: 16px
}
.footer-address {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 20px
}
.footer-address__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px
}
.footer-address__list {
  display: flex;
  flex-direction: column;
  gap: 12px
}
.footer-address__item {
  font-size: 16px
}
.footer-address__white {
  color: #fff
}
.footer-about__link:hover,
.footer-experiences__link:hover {
  color: #ff5a30
}
.footer-about,
.footer-experiences {
  display: flex;
  flex-direction: column;
  gap: 20px
}
.footer-about__title,
.footer-experiences__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px
}
.footer-about__list,
.footer-experiences__list {
  display: flex;
  flex-direction: column;
  gap: 12px
}
.footer__rights {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.footer-rights {
  display: flex;
  gap: 3px
}
.footer-rights__text {
  font-size: 12px;
  color: #fff
}
.footer-rights__name {
  display: flex;
  gap: 6px
}
.footer-rights__credits {
  font-size: 12px;
  color: #fff
}
.footer-elevate {
  display: flex;
  gap: 18px;
  position: relative
}
.footer-elevate__text {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding-right: 56px
}
.footer-elevate__link {
  width: 40px;
  height: 40px;
  background-color: #ff5a30;
  background-image: url(../img/icons/arrow__top.svg);
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 15px;
  border-radius: 4px;
  right: 0;
  top: -23px;
  position: absolute
}
.footer-elevate__link:hover {
  background-color: #fc3300
}
@media (max-width:1440px) {
  .swiper-construction__button {
    position: static
  }
  .swiper-construction__prev {
    background-image: url(../img/icons/arrow--left.svg);
    background-repeat: no-repeat
  }
  .swiper-construction__next {
    background-image: url(../img/icons/arrow--right.svg);
    background-repeat: no-repeat
  }
  .swiper-construction__buttons {
    display: flex;
    position: relative;
    height: 48px;
    gap: 50px;
    max-width: 1230px;
    margin: 0 auto;
    margin-top: 30px
  }
}
@media (max-width:1350px) {
  .details__wrapper {
    display: flex;
    justify-content: center
  }
  .details__form {
    position: static
  }
}
@media (max-width:1270px) {
  .wrapper {
    padding: 0 20px
  }
  .swiper-construction__buttons {
    padding: 0 20px
  }
  .swiper-construction {
    padding: 0 20px
  }
}
@media (max-width:1230px) {
  .construction {
    padding: calc(137.5px + 82.5*(100vw - 768px)/ 1230*2.4589) calc(0px + 0*(100vw - 768px)/ 1230*2.4589) calc(75px + 45*(100vw - 768px)/ 1230*2.4589) calc(0px + 0*(100vw - 768px)/ 1230*2.4589)
  }
  .construction__info {
    max-width: calc(371.875px + 223.125*(100vw - 768px)/ 1230*2.4589)
  }
  .construction__title {
    font-size: calc(45px + 27*(100vw - 768px)/ 1230*2.4589);
    line-height: calc(58.75px + 35.25*(100vw - 768px)/ 1230*2.4589)
  }
  .construction__text {
    font-size: calc(12.5px + 7.5*(100vw - 768px)/ 1230*2.4589);
    margin-top: calc(15px + 9*(100vw - 768px)/ 1230*2.4589);
    line-height: calc(18.75px + 11.25*(100vw - 768px)/ 1230*2.4589)
  }
  .construction__links {
    margin-top: calc(38.125px + 22.875*(100vw - 768px)/ 1230*2.4589);
    gap: calc(15px + 9*(100vw - 768px)/ 1230*2.4589)
  }
  .construction__link {
    font-size: calc(10px + 6*(100vw - 768px)/ 1230*2.4589)
  }
  .construction__link--learn {
    width: calc(173.75px + 104.25*(100vw - 768px)/ 1230*2.4589);
    height: calc(32.5px + 19.5*(100vw - 768px)/ 1230*2.4589)
  }
  .construction__link--submit {
    width: calc(140px + 84*(100vw - 768px)/ 1230*2.4589);
    height: calc(32.5px + 19.5*(100vw - 768px)/ 1230*2.4589)
  }
  .swiper-construction__button {
    margin-top: 0
  }
  .swiper-construction__pagination {
    margin-top: calc(59.6666666667px + 119.3333333333*(100vw - 768px)/ 1230*2.4589)
  }
  .clients__image {
    width: calc(309.375px + 185.625*(100vw - 768px)/ 1230*2.4589);
    height: calc(343.75px + 206.25*(100vw - 768px)/ 1230*2.4589)
  }
}
@media (max-width:1110px) {
  .header__open {
    display: block
  }
  .header__list {
    display: none
  }
}
@media (max-width:1100px) {
  .services__list {
    grid-template-columns: 1fr 1fr
  }
}
@media (max-width:1080px) {
  .clients__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .clients__image {
    display: none
  }
}
@media (max-width:1050px) {
  .values__list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px
  }
  .values__item:not(:last-child)::after {
    display: none
  }
  .values__item:not(:last-child) .values__text:after {
    width: 285px;
    height: 2px;
    bottom: 0;
    left: 0
  }
  .footer__top {
    gap: 30px
  }
  .footer__bottom {
    gap: 0;
    justify-content: space-between
  }
  .footer-social {
    width: 100%
  }
  .footer-social__top {
    justify-content: space-between;
    gap: 30px
  }
}
@media (max-width:1030px) {
  .news-item--main {
    max-width: 100%
  }
  .news-item--secondary .news-item__description {
    padding: 28px 24px 25px 24px;
    padding: calc(14px + 14*(100vw - 375px)/ 768*1.955) calc(2.5px + 2.5*(100vw - 375px)/ 768*1.955) calc(12.5px + 12.5*(100vw - 375px)/ 768*1.955) calc(12px + 12*(100vw - 375px)/ 768*1.955)
  }
  .news-item--secondary {
    max-height: 540px
  }
  .news-item--secondary .news-item__text {
    display: block
  }
  .news__list {
    grid-template-areas: "main" "first" "second"
  }
  .news-item__image--secondary {
    max-height: 360px
  }
  .news-item__image {
    height: 360px;
    -o-object-fit: cover;
    object-fit: cover
  }
  .item-info--secondary {
    margin-top: 20px
  }
}
@media (max-width:1000px) {
  .more {
    height: auto
  }
  .more-form {
    flex-direction: column;
    align-items: center
  }
  .more-form__item {
    width: 100%;
    max-width: 519px;
    flex: 1
  }
  .partners__logos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  .partners__logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
  }
}
@media (max-width:768px) {
  .header__contacts {
    display: none
  }
  .construction {
    padding: calc(73.3333333333px + 146.6666666667*(100vw - 375px)/ 768*1.955) calc(0px + 0*(100vw - 375px)/ 768*1.955) calc(40px + 80*(100vw - 375px)/ 768*1.955) calc(0px + 0*(100vw - 375px)/ 768*1.955)
  }
  .construction__info {
    max-width: calc(297.5px + 297.5*(100vw - 375px)/ 768*1.955)
  }
  .construction__title {
    font-size: calc(36px + 36*(100vw - 375px)/ 768*1.955);
    line-height: calc(47px + 47*(100vw - 375px)/ 768*1.955)
  }
  .construction__text {
    font-size: calc(10px + 10*(100vw - 375px)/ 768*1.955);
    margin-top: calc(12px + 12*(100vw - 375px)/ 768*1.955);
    line-height: calc(15px + 15*(100vw - 375px)/ 768*1.955)
  }
  .construction__links {
    margin-top: calc(30.5px + 30.5*(100vw - 375px)/ 768*1.955);
    gap: calc(12px + 12*(100vw - 375px)/ 768*1.955)
  }
  .construction__link {
    font-size: calc(8px + 8*(100vw - 375px)/ 768*1.955)
  }
  .construction__link--learn {
    width: calc(139px + 139*(100vw - 375px)/ 768*1.955);
    height: calc(26px + 26*(100vw - 375px)/ 768*1.955)
  }
  .construction__link--submit {
    width: calc(112px + 112*(100vw - 375px)/ 768*1.955);
    height: calc(26px + 26*(100vw - 375px)/ 768*1.955)
  }
  .swiper-construction__button {
    width: 36px;
    height: 36px;
    background-position-x: 12px;
    background-position-y: 13px
  }
  .swiper-construction__prev {
    background-image: url(../img/icons/arrow--left.svg);
    background-repeat: no-repeat;
    background-size: 13px 11px
  }
  .swiper-construction__next {
    background-image: url(../img/icons/arrow--right.svg);
    background-repeat: no-repeat;
    background-size: 13px 11px
  }
  .swiper-construction__buttons {
    margin-top: calc(36.3636363636px + 3.6363636364*(100vw - 375px)/ 768*1.955);
    height: 48px;
    display: none
  }
  .swiper-construction__pagination {
    margin-top: calc(59.6666666667px + 119.3333333333*(100vw - 375px)/ 768*1.955);
    height: calc(27px + 27*(100vw - 375px)/ 768*1.955)
  }
  .swiper-construction .swiper-pagination-bullet {
    font-size: calc(14px + 14*(100vw - 375px)/ 768*1.955)
  }
  .more .wrapper.more__wrapper {
    padding: calc(24px + 24*(100vw - 375px)/ 768*1.955) calc(30px + 30*(100vw - 375px)/ 768*1.955) calc(24px + 24*(100vw - 375px)/ 768*1.955) calc(30px + 30*(100vw - 375px)/ 768*1.955)
  }
  .more__title {
    font-size: calc(16.9696969697px + 11.0303030303*(100vw - 375px)/ 768*1.955)
  }
  .services__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  .services__item {
    width: 285px;
    height: 285px
  }
  .services__learn {
    flex-direction: column
  }
  .services__label {
    text-align: center
  }
  .browse {
    padding-bottom: calc(60px + 60*(100vw - 375px)/ 768*1.955)
  }
  .browse__title {
    font-size: calc(22px + 22*(100vw - 375px)/ 768*1.955);
    line-height: calc(30px + 30*(100vw - 375px)/ 768*1.955)
  }
  .browse-explore {
    flex-direction: column
  }
  .partners {
    padding-top: calc(42px + 42*(100vw - 375px)/ 768*1.955)
  }
  .partners__title {
    font-size: calc(26px + 26*(100vw - 375px)/ 768*1.955)
  }
  .clients {
    padding: calc(94px + 94*(100vw - 375px)/ 768*1.955) calc(0px + 0*(100vw - 375px)/ 768*1.955) calc(60.5px + 60.5*(100vw - 375px)/ 768*1.955) calc(0px + 0*(100vw - 375px)/ 768*1.955)
  }
  .clients__title {
    font-size: calc(23px + 23*(100vw - 375px)/ 768*1.955)
  }
  .clients__profile {
    margin-top: calc(30px + 30*(100vw - 375px)/ 768*1.955)
  }
  .clients__comments {
    width: 100%
  }
  .clients__comment {
    padding: 10px
  }
  .clients__text {
    font-size: calc(11.4285714286px + 4.5714285714*(100vw - 375px)/ 768*1.955);
    line-height: calc(18.5714285714px + 7.4285714286*(100vw - 375px)/ 768*1.955)
  }
  .clients__nav {
    bottom: 0;
    right: 0
  }
  .facts {
    padding: calc(93px + 93*(100vw - 375px)/ 768*1.955) calc(0px + 0*(100vw - 375px)/ 768*1.955) calc(61.5px + 61.5*(100vw - 375px)/ 768*1.955) calc(0px + 0*(100vw - 375px)/ 768*1.955)
  }
  .facts__list {
    width: 100%;
    justify-content: space-between;
    padding-top: calc(31.5px + 31.5*(100vw - 375px)/ 768*1.955)
  }
  .facts__title {
    font-size: calc(23px + 23*(100vw - 375px)/ 768*1.955)
  }
  .facts__item {
    width: calc(74px + 74*(100vw - 375px)/ 768*1.955)
  }
  .facts__circle {
    width: calc(74px + 74*(100vw - 375px)/ 768*1.955);
    height: calc(74px + 74*(100vw - 375px)/ 768*1.955);
    background-size: calc(74px + 74*(100vw - 375px)/ 768*1.955) calc(74px + 74*(100vw - 375px)/ 768*1.955)
  }
  .facts__number {
    font-size: calc(16px + 16*(100vw - 375px)/ 768*1.955)
  }
  .facts__description {
    font-size: calc(7px + 7*(100vw - 375px)/ 768*1.955)
  }
  .news__title {
    font-size: calc(23px + 23*(100vw - 375px)/ 768*1.955)
  }
  .news-item__description {
    padding: calc(14px + 14*(100vw - 375px)/ 768*1.955) calc(12px + 12*(100vw - 375px)/ 768*1.955) calc(12.5px + 12.5*(100vw - 375px)/ 768*1.955) calc(12px + 12*(100vw - 375px)/ 768*1.955)
  }
  .news__list {
    margin-top: calc(31px + 31*(100vw - 375px)/ 768*1.955)
  }
  .news-item__text {
    font-size: calc(13.3333333333px + 2.6666666667*(100vw - 375px)/ 768*1.955);
    line-height: calc(21.25px + 4.25*(100vw - 375px)/ 768*1.955)
  }
  .news-item__title {
    font-size: calc(16.6666666667px + 3.3333333333*(100vw - 375px)/ 768*1.955)
  }
  .news-item__image {
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover
  }
  .item-info__item:not(:last-child) {
    padding-right: calc(6.5px + 6.5*(100vw - 375px)/ 768*1.955)
  }
  .item-info__item:not(:first-child) {
    padding-left: calc(6.5px + 6.5*(100vw - 375px)/ 768*1.955)
  }
  .item-info__label {
    font-size: calc(11.6666666667px + 2.3333333333*(100vw - 375px)/ 768*1.955)
  }
  .details__form {
    padding: calc(24px + 24*(100vw - 375px)/ 768*1.955) calc(20px + 20*(100vw - 375px)/ 768*1.955) calc(24px + 24*(100vw - 375px)/ 768*1.955) calc(20px + 20*(100vw - 375px)/ 768*1.955)
  }
  .footer {
    padding: calc(40.5px + 40.5*(100vw - 375px)/ 768*1.955) calc(0px + 0*(100vw - 375px)/ 768*1.955) calc(40px + 40*(100vw - 375px)/ 768*1.955) calc(0px + 0*(100vw - 375px)/ 768*1.955)
  }
  .footer__bottom {
    flex-direction: column;
    gap: 30px
  }
  .footer-social__list {
    gap: 10px
  }
  .footer__rights {
    flex-direction: column;
    gap: 60px
  }
  .footer-about,
  .footer-address,
  .footer-experiences {
    border-bottom: 1.5px solid #d7dadd;
    padding-bottom: 10px
  }
  .footer .accordion {
    background-image: url(../img/icons/arrow__top.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px
  }
  .footer .active {
    background-image: url(../img/icons/arrow--left.svg)
  }
  .footer-about__list,
  .footer-address__list,
  .footer-experiences__list {
    display: none
  }
}
@media (max-width:550px) {
  .partners__logos {
    grid-template-columns: 1fr 1fr
  }
}
@media (max-width:500px) {
  .news-item__image {
    height: 170px;
    -o-object-fit: cover;
    object-fit: cover
  }
  .details__title {
    font-size: calc(18.6666666667px + 9.3333333333*(100vw - 375px)/ 768*1.955);
    line-height: calc(28px + 14*(100vw - 375px)/ 768*1.955)
  }
}