.partners {
  background-color: $gray--200;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.padding--partners {
    padding-top: 83px;
    padding-bottom: 0px;


    @media (max-width: 768px) {
      padding-top: size-768(124);
      padding-bottom: size-768(123);
    }
  }

  &.padding--interior {
    padding-top: 123px;
    padding-bottom: 125px;

    @media (max-width: 768px) {
      padding-top: size-768(123);
      padding-bottom: size-768(125);
    }
  }

  &.padding--work {
    background-color: white;
    padding-top: 182px;
    padding-bottom: 124px;

    @media (max-width: 768px) {
      padding-top: size-768(124);
      padding-bottom: size-768(124);
    }
  }

  &__title {
    font-size: 46px;
    font-weight: 700;
    color: $gray--900;
    text-align: center;

    @media (max-width: 768px) {
      font-size: size-768(52);
    }
  }

  &__logos {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-container {
      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    @media (max-width: 1000px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // align-items: center;
      // justify-content: center;
    }

    @media (max-width: 550px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__logo {
    width: 120px;
    height: 64px;
  }
}