.articles-top {
  background-color: $gray--200;
  background-image: url("@img/articles/articles-top__bg.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: fit;

  @media (max-width: 1030px) {
    background-position-x: 20%;
  }

  @media (max-width: 768px) {
    background-position-x: 20%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    padding-top: 23px;
    padding-bottom: 240px;

    @media (max-width: 768px) {
      padding-top: size-768(23, 1.5);
      padding-bottom: size-768(240, 3);
    }
  }

  &__route {
    display: flex;
    margin-top: 40px;
    gap: 10px;
    font-size: 14px;

    @media (max-width: 768px) {
      font-size: size-768(14, 1.5);
    }
  }

  &__title {
    font-size: 73px;
    line-height: 80px;
    color: $gray--900;
    font-weight: 700;
    margin-top: 50px;
    letter-spacing: 1px;

    @media (max-width: 768px) {
      font-size: size-768(73, 1.5);
      line-height: size-768(80, 1.5);
      margin-top: size-768(50, 1.5);
    }
  }

  &__link {
    color: $gray--800;
    font-size: 14px;

    @media (max-width: 768px) {
      font-size: size-768(14, 1.5);
    }

    &:not(:first-child) {
      padding-left: 4px;
    }

    &--disabled {
      color: $gray--600;
    }
  }

  &__text {
    font-size: 20px;
    margin-top: 35px;

    @media (max-width: 768px) {
      // font-size: size-768(20, 1.5);
      // margin-top: size-768(35, 1.5);
    }
  }
}