.news-comments {
  padding-top: 83px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 46px;
    font-weight: 700;
    color: $gray--900;
    align-self: center;

    @media (max-width: 768px) {
      font-size: size-768(46, 1.1);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 66px;
    max-width: 810px;
    margin: 0 auto;
    margin-top: 66px;

    @media (max-width: 768px) {
      gap: size-768(66, 1.1);
    }
  }

  .comments-item {
    display: flex;
    gap: 30px;

    @media (max-width: 768px) {
      gap: size-768(30);
    }

    @media (max-width: 500px) {
      flex-direction: column;
    }

    &__pin {
      font-weight: 700;
      color: $orange;
    }

    &__info {
      min-width: 150px;
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &__name {
      font-size: 18px;
      font-weight: 700;

      @media (max-width: 768px) {
        font-size: size-768(18, 1.1);
      }
    }

    &__date {
      font-size: 14px;
      text-align: left;
      color: $gray--700;

      @media (max-width: 768px) {
        font-size: size-768(14, 1.1);
      }
    }

    &__text {
      //styleName: base/regular;
      font-size: 16px;
      line-height: 25.6px;
      text-align: left;
      color: $gray--800;

      @media (max-width: 768px) {
        font-size: size-768(16, 1.1);
        line-height: size-768(26, 1.1);
      }
    }

    &__reply {
      font-size: 14px;
      color: $gray--700;
      display: flex;
      padding-left: 24px;
      background-image: url(../img/news-page/news-comments__reply.svg);
      background-repeat: no-repeat;
      background-position: 0px 0px;
      margin-top: 17px;

      @media (max-width: 768px) {
        font-size: size-768(14, 1.1);
        line-height: size-768(26, 1.1);
      }

      &:hover {
        color: $orange;
      }
    }
  }
}