.facts {
  // height: 609px;
  padding-top: 186px;
  padding-bottom: 123px;

  @media (max-width: 768px) {
    padding: padding-768(186, 0, 123, 0);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    padding-top: 63px;
    width: 736px;
    // column-gap: 46px;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
      justify-content: space-between;
      padding-top: size-768(63);
    }
  }

  &__title {
    align-self: center;
    font-size: 46px;
    font-weight: 700;
    color: $gray--900;

    @media (max-width: 768px) {
      font-size: size-768(46, 1.5);
    }
  }

  &__item {
    width: 148px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: size-768(148);
    }
  }

  &__circle {
    width: 148px;
    height: 148px;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;


    &--orange {
      background-image: url("@img/facts/facts__yellow.png")
    }

    &--red {
      background-image: url("@img/facts/facts__red.png")
    }

    &--blue {
      background-image: url("@img/facts/facts__blue.png")
    }

    &--green {
      background-image: url("@img/facts/facts__green.png")
    }

    @media (max-width: 768px) {
      width: size-768(148);
      height: size-768(148);
      background-size: size-768(148) size-768(148);
    }
  }

  &__number {
    font-size: 32px;
    font-weight: 700;
    color: $gray--900;
    // position: absolute;

    @media (max-width: 768px) {
      font-size: size-768(32)
    }
  }

  &__description {
    font-size: 14px;
    color: $gray--900;
    align-self: center;
    margin-top: 20px;

    @media (max-width: 768px) {
      font-size: size-768(14)
    }
  }
}