.contacts-address {
  background-color: $gray--200;
  padding-top: 85px;
  padding-bottom: 120px;

  @media (max-width: 768px) {
    padding-top: size-768(85);
    padding-bottom: size-768(120);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 46px;
    color: $gray--900;
    font-weight: 700;
    text-align: center;
    align-self: center;

    @media (max-width: 768px) {
      font-size: size-768(46, 1.5);
    }
  }

  &__description {
    font-size: 18px;
    color: #787A80;
    text-align: center;
    align-self: center;
    margin-top: 30px;

    @media (max-width: 768px) {
      font-size: size-768(18, 1.5);
      margin-top: size-768(30, 1.5);
    }
  }
}

.address-list {
  display: flex;
  margin-top: 67px;
  gap: 30px;

  @media (max-width: 830px) {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    flex: 1;
    font-size: 16px;

    &:nth-of-type(2) {
      display: flex;
      justify-content: center;
    }

    &:nth-of-type(3) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 250px;
  }

  &__location {
    font-size: 28px;
    font-weight: 700;
    color: $gray--900;

    @media (max-width: 768px) {
      font-size: size-768(28, 1.5);
    }
  }

  &__name {
    color: $gray--700;
    margin-bottom: 12px;
  }

  &__description {
    color: $gray--900;
    margin-left: 4px;
  }

  &__text {
    color: $gray--900;
    margin-top: 33px;
    line-height: 23px;

    @media (max-width: 768px) {
      margin-top: size-768(33, 1.5);
      line-height: size-768(23, 1.5);
      font-size: size-768(16, 1.5);
    }
  }

  &__link {
    font-size: 16px;
    color: $orange;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 28px;

    @media (max-width: 768px) {
      font-size: size-768(16, 1.5);
      margin-top: size-768(10, 1.5);
      margin-bottom: size-768(28, 1.5);
    }
  }
}