// Підключити, якщо є локальні файли шрифтів
// @import "fonts/fonts";
/* 
.body {
  box-sizing: border-box;
  min-width: 375px;
}

* {
  font-family: "Ubuntu", sans-serif;
}

.container {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1230px;
  margin: 0 auto;

  @media (max-width: 1270px) {
    padding: 0 20px;
  }

  &__construction {
    padding: 0 0;
  }

  &__pagination {
    padding: 0 0;
  }
}
*/
$orange: #FF5A30;
$orange--dark: #FC3300;
$gray--900: #1E212C;
$gray--800: #424551;
$gray--700: #787A80;
$gray--600: #9A9CA5;
$gray--400: #D7DADD;
$gray-300: #E5E8ED;
$gray--200: #F4F5F6;
// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";
@import "functions";

// Підключення стилів окремих блоків
@import "modules/header";
@import "home/construction";
@import "home/bureau";
@import "home/values";
@import "home/more";
@import "home/browse";
@import "modules/partners";
@import "modules/clients";
@import "home/figures";
@import "home/services";
@import "home/facts";
@import "home/news";
@import "modules/details";
@import "modules/footer";


// Підключення стилів окремих сторінок
// @import "services";
@import "services/services-top";
@import "services/services-list";

// interior design
@import "interior/interior-top";
@import "interior/interior-offer";
@import "interior/interior-how";
@import "interior/interior-benefits";
@import "interior/interior-projects";
@import "interior/interior-pricing";

// our work style
@import "work/work-top.scss";
@import "work/work-projects.scss";

// positions style
@import "positions/positions-top.scss";
@import "positions/positions-catalog.scss";
@import "positions/positions-benefits.scss";